:root {
  --primary: #714B67; /* Odoo Purple */
  --secondary: #017E84; /* Teal */
  --dark: #212529;
  --light: #F8F9FA;
  --danger: #DC3545;
}

body { margin: 0; font-family: 'Inter', sans-serif; background-color: #F4F6F8; }

/* TOP NAVBAR */
.navbar {
  background-color: var(--primary);
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: rgb(0, 0, 0);
}

.nav-brand { font-size: 20px; font-weight: bold; letter-spacing: 1px; }

.nav-links { display: flex; gap: 20px; }
.nav-links a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.2s;
}
.nav-links a:hover, .nav-links a.active {
  color: rgb(0, 0, 0);
  background-color: rgba(255,255,255,0.15);
}

.nav-auth button {
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
}

/* LAYOUT */
.container { max-width: 1200px; margin: 30px auto; padding: 0 20px; }

/* CARDS */
.card {
  background: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 25px;
}

/* AUTH PAGES */
.auth-box {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}
.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Fixes padding overflow */
}
.auth-box button {
  width: 100%;
  background: var(--primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* TABLES */
table { width: 100%; border-collapse: collapse; margin-top: 10px; }
th { text-align: left; padding: 15px; background: #F1F3F5; color: #495057; font-size: 13px; }
td { padding: 15px; border-bottom: 1px solid #eee; font-size: 14px; }
.badge { padding: 4px 8px; border-radius: 12px; font-size: 11px; font-weight: bold; }
.badge-receipt { background: #e6f4ea; color: #1e7e34; }
.badge-delivery { background: #feeced; color: #dc3545; }
.badge-internal { background: #fff3cd; color: #856404; }